{% load static %}
<style>
    top{
        position:absolute;
        top:0;
    }
</style>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion top" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Weather Dashboard</div>
      </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="../dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider
    <hr class="sidebar-divider">-->

    <!-- Heading
    <div class="sidebar-heading">
      Focus
    </div>-->

    <!-- Nav Item - Wind Sensors Collapse Menu
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Wind Sensors</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Wind Components:</h6>
          <a class="collapse-item" href="direction">Direction</a>
          <a class="collapse-item" href="cards.html">Speed</a>
        </div>
      </div>
    </li>-->

    <!-- Nav Item - Digital Sensor Collapse Menu
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Digital Sensors</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Digital Sensors:</h6>
          <a class="collapse-item" href="utilities-color.html">Pressure</a>
          <a class="collapse-item" href="utilities-border.html">Temperature</a>
          <a class="collapse-item" href="utilities-animation.html">Humidity</a>
          <a class="collapse-item" href="utilities-other.html">All</a>
        </div>
      </div>
    </li>-->

    <!-- Nav Item - Rainfall
    <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Rainfall</span></a>
    </li>-->


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading
    <div class="sidebar-heading">
      API
    </div>-->

    <!-- Nav Item - Pages Collapse Menu
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Login Screens:</h6>
          <a class="collapse-item" href="login.html">Login</a>
          <a class="collapse-item" href="register.html">Register</a>
          <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
          <div class="collapse-divider"></div>
          <h6 class="collapse-header">Other Pages:</h6>
          <a class="collapse-item" href="404.html">404 Page</a>
          <a class="collapse-item" href="blank.html">Blank Page</a>
        </div>
      </div>
    </li> --->

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="info">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Info</span></a>
    </li>

    <!-- Nav Item - Tables
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Settings</span></a>
    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggle (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" onclick=toggle_sidebar()></button>
    </div>

</ul>


<!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script type="text/javascript">
    function toggle_sidebar($){
        if ($(".sidebar").hasClass('toggled')) {
            $(".sidebar").removeClass('toggled');
        } else {
            $(".sidebar").addClass('toggled');
        }
    }

</script>

 <!-- Custom scripts for all pages
  <script src="static 'js/sb-admin-2.min.js' %}"></script>-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>